@font-face {
  font-family: "iconfont"; /* Project id 4328302 */
  src: url('../fonts/iconfont.woff2?t=1700038137159') format('woff2'),
       url('../fonts/iconfont.woff?t=1700038137159') format('woff'),
       url('../fonts/iconfont.ttf?t=1700038137159') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xitongtongzhi:before {
  content: "\e670";
}


.icon-huifu1:before {
  content: "\e648";
}

.icon-huifu:before {
  content: "\e66f";
}


.icon-zhanghushezhi:before {
  content: "\e60b";
}

.icon-wodeshoucang:before {
  content: "\e798";
}

.icon-xiaoxishezhi:before {
  content: "\e628";
}

.icon-xinjianwenjianjia:before {
  content: "\e7a5";
}


.icon-zhongmingming:before {
  content: "\e61c";
}

.icon-shanchuwenjianjia:before {
  content: "\f12c";
}


.icon-yidongdao1:before {
  content: "\e60e";
}

.icon-xinsui:before {
  content: "\e62c";
}

.icon-yidongdao:before {
  content: "\e67d";
}

.icon-gengduo:before {
  content: "\e612";
}

.icon-fabu:before {
  content: "\e616";
}

.icon-zuiyou:before {
  content: "\e631";
}

.icon-NMStubiao-:before {
  content: "\e627";
}

.icon-paimingbiaoqian:before {
  content: "\e77f";
}

.icon-yuanjiaoliujiaoxing:before {
  content: "\e657";
}

.icon-copyright:before {
  content: "\e77e";
}

.icon-weibo:before {
  content: "\e6b2";
}

.icon-facebook:before {
  content: "\e64e";
}

.icon-youtube-fill-round:before {
  content: "\e6a2";
}

.icon-icon_bilibili-circle:before {
  content: "\e600";
}

.icon-like-fill:before {
  content: "\e660";
}

.icon-like_heart:before {
  content: "\e603";
}

